#locate_div {
    background-color: #ecece8 ;
    display: inline-block;
    margin: 10px;
    margin-left: .5rem;
    border-radius: 5px;
    padding: 5px;
    font-size: 110%;
    color: rgb(116, 115, 115);
}
#map_container{
    height: 500px;
}

h2 {
    margin-left: 1rem;
}