<!--The content below is only a placeholder and can be replaced.-->
<body>
    <header>
        <h1 id = "project_name">
            {{ tag }}
          </h1>
        
          <div id = "input_tag">
            <input type="text" size="30" name="searchTag" placeholder="Enter #hashtag"  [(ngModel)]='tagHtml'>
            <button (click)="updateService()">Update</button>
          </div>
          <nav>
            <a class = "buttons" routerLink="/tweet" >Display Tweets</a>
            <a class = "buttons" routerLink="/hashtag" >HashTags</a>
            <a class = "buttons" routerLink="/location" >Location</a>
               
          </nav>

          <div class="sidebar">
              <a routerLink="/dashboard">Dashboard</a>
            </div>
  
  
  
    </header>
    
  
  
    <router-outlet></router-outlet>


</body>





