<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div id = "input_tag">
    <input type="text" size="30"  placeholder="Enter #hashtag" >
  </div>
  <nav>
    
    <img  width = "100px" src="assets/twitter-icon.png" routerLink="/tweet"  />
    <img width = "100px"src="assets/instagram-icon.png" routerLink="/hashtag"  />
    <img  width = "101px" src="assets/soundcloud-icon.png"  />
    
  </nav>


  <router-outlet></router-outlet>

</div>


